.form-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    form {
        gap: .5rem;
        width: 100%;
        display: grid;
        max-width: 400px;

        .input-area {
            gap: .5rem;
            display: grid;
        
            input {
                border: none;
                padding: 1rem;
                background: #eee;
                border-radius: .6rem;
            }
        }
        
        button {
            border: none;
            color: #fff;
            padding: 1rem;
            margin-top: 1rem;
            background: #000;
            border-radius: .6rem;
            background-image: linear-gradient(315deg, #b13dff, #ff679a);
        }

        a {
            color: #006eff;
            font-weight: 900;
            text-decoration: none;
        }
    }
}